/* * {
  border: 1px solid tan;
} */
body {
  font-family: 'Noto Sans TC', sans-serif;
  background: no-repeat
    url(https://image.freepik.com/free-vector/colorful-gradient-blur-background_53876-115234.jpg);
  background-size: cover;
  background-position: center;
  color: slategrey;
  letter-spacing: 1px;
}
input {
  width: 300px;
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  border-radius: 10px;
  border-color: azure;
  padding: 10px;
  padding-left: 20px;
  background-color: rgba(240, 255, 255, 0.692);
  color: rgb(255, 0, 85);
  /* color: rgb(40, 125, 220); */
  font-size: 1.5em;
  transition: 0.3s;
}
input:hover {
  background-color: white;
}

h1,
h6 {
  letter-spacing: 0px;
  color: #aed4d3ce;
}
h1 {
  font-size: 3.8em;
  font-weight: 200;
}
h6 {
  font-size: 2em;
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
}
h5 {
  font-weight: 400;
  color: azure;
  transition: 0.3s;
}
.fas {
  font-size: 0.9em;
}
.input-box:hover h5 {
  color: rgb(40, 125, 220);
}
.btn-my {
  border: 1px solid white;
  background-color: none;
  color: azure;
}
.btn-my:hover {
  border: 1px solid rgb(40, 125, 220);
  background-color: rgb(40, 125, 220);
  color: azure;
}
.card {
  background-color: rgba(240, 255, 255, 0.479);
  border: azure;
}
.card-header,
.card-footer {
  border: azure;
  background-color: rgba(240, 255, 255, 0.678);
}
.card-title {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  color: rgb(255, 0, 85);
  font-size: 2em;
  font-weight: 300;
  transition: 0.3s;
}
.card-title:hover {
  text-decoration: underline 0.6px;
}
